<html>
    <head>
        <!-- <link rel="stylesheet" href="style.css"> -->
        <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    </head>
    <body>
        <div class="container">
            <div class="video">
                <a href="#" class="logo">VideoC</a>
                <div class="info">
                    <div><h4>Project Conference Meeting</h4>
                    <p>UI Design</p>
                </div>
                </div>
                <div class="icons">
                    <a href="#" ><i class="bx bx-cog"></i></a>
                    <a href="#" ><i class="bx bx-dotts-horizontal-rounded"></i></a>
                </div>

            </div>
        </div>
    </body>
</html>
